*{
    font-family: Arial, Helvetica, sans-serif;
}
#main-header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

#main-footer{
    text-align: center;
    font-size: 18px;
    clear: both;
    padding-top: 100px;
}
section{
    float: right;
    width: 80%;
}
.articles{
    width: 95%;
    margin: auto;
}
aside{
    float: left;
    width: 20%;
    text-align: center;
}
.categories{
    width: 95%;
   
}
.categories ul{
    padding: 0px;
    list-style: none;
}

